<html>

    <head>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="container">
        <nav id = "topnav">
            <div class = "logo"></div>
            <a href="/" id="left-name">InSite</a>
            <input type ="text" name ="searchbar" placeholder="Search" id="searchbar">
            <select id = "topCateg">
                <option>All Categories</option>
                <option>Social Media</option>
                <option>E-Commerce</option>
                <option>News Sites</option>
                <option>Blogs</option>
                <option>Informational</option> 
                <option>Entertainment</option> 
            </select>
       <button type = "submit" id = "searchBtn" onclick = "window.location.href = 'search' ">Search</button>
            <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
            <a href={{url1}} style="float: right;">{{rightoption1}}</a>
            <a href={{url2}} style="float: right;">{{rightoption2}}</a>
            <a href="submitsite" style="float: right;">SUBMIT A WEBSITE</a>
            <a href="viewreviews"style = "float: right;">VIEW REVIEWS</a>
        </nav>
        
         <nav id = "categories">
            <span><a href="social">Social Media</a></span>
            <span><a href="ecommerce">E-Commerce</a></span>
            <span><a href="news">News Sites</a></span>
            <span><a href="blogs">Blogs</a></span>
            <span><a href="info">Informational</a></span>
            <span><a href="entertainment">Entertainment</a></span>
        </nav>
        </div>
        
        <div class = "content">
            <h2>Reviews</h2>
            <div id = "sitePop">
                <a href = "reviewdetails">{{reviewlink}}</a>
            </div>
        </div>
    </body>
</html>
