<html>
    <head>
         <script src="jquery.js"></script>
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body>
             <nav class = "navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class = "container-fluid">
                <a class="navbar-brand" href="/"><img src = "/images/navbar-logo-micro.png"></a>
                
                <form class = "form-inline d-flex my-2 my-lg-0 justify-content-center md-form long-textbar" method="get" action="search">
                    <div class="lg-form my-0">
                        <input class="form-control form-control-md ml-3 long-textbar" type="text" placeholder ="search for websites..." aria-label="search">
                        <button href = "search" class="btn btn-outline-light btn-md my-0 ml-sm-2">SEARCH</button>
                    </div>
                </form>
                <!--
                <div class = "col-xl-2">
                        <select id = "topCateg">
                        <option>All Categories</option>
                        <option>Social Media</option>
                        <option>E-Commerce</option>
                        <option>News Sites</option>
                        <option>Blogs</option>
                        <option>Informational</option> 
                        <option>Entertainment</option> 
                        </select>
                </div> -->
                
                
                <ul class="navbar-nav">
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            VIEW WEBSITES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="social">Social Media</a>
                            <a class="dropdown-item" href="ecommerce">E-Commerce</a>
                            <a class="dropdown-item" href="news">News Sites</a>
                            <a class="dropdown-item" href="blogs">Blogs/Focus Sites</a>
                            <a class="dropdown-item" href="info">Informational</a>
                            <a class="dropdown-item" href="entertainment">Entertainment</a>
                        </div>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href="submitsite">SUBMIT A WEBSITE</a>
                    </li>
                    <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
                    <li class = "nav-item">
                        <a class = "nav-link" href="{{url1}}">{{rightoption1}}</a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href="{{url2}}">{{rightoption2}}</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="login-form">
    <form action="login" method="post">
        <h2 class="text-center">Log in</h2>
        <div class="text-center">
            {{#if error}}
            {{error}}
            {{/if}}       
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="un"required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="pw" required="required">
        </div>
        <div class="form-group">
            <button type="submit" value="login" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
        </div>        
    </form>
    <p class="text-center"><a href="register">Create an Account</a></p>
</div>  
    </body>    
</html>
